.preloader {
  height: 110vh;
  width: 100%;
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 480px;
  font-weight: 800;
  font-size: 28px;
  overflow: hidden;
  color: #fff;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .preloader .texts-container {
    width: 70%;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .preloader .texts-container {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .preloader .texts-container {
    width: 90%;
    font-size: 20px;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .preloader .texts-container {
    width: 90%;
    font-size: 15px;
  }
}
